.transactionTable {
  width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transactionTable thead {
  background-color: #00bcd4;
  color: white;
  text-transform: uppercase;
}

.transactionTable th,
.transactionTable td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.transactionTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
